body {
  background-color: #2C2B3D;
  margin: 0px;
  text-align: center;
  
  
}

.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 71px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 101px;
  font-family: 'JetBrains Mono';
}

ul {
  display: flex;
  list-style: none;
  gap: 64px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  color: #FFFFFF;
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
}

span {
  color: #00BFA6; 
}

li ul a {
  opacity: 0.5;
}

li a:hover {
font-weight: bold;
opacity: 0.5;
}


p{
  font-size: 16px;
  line-height: 28px;
  ;
  color: #FFFFFF;
  
}



main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 82px;
}

footer {
  margin-top: 157px;
  font-size: 14px;
  line-height: 28px;
  font-family: 'JetBrains Mono', monospace;
  color: #FFFFFF;
}

p{
  font-size: 16px;
  line-height: 28px;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  
}


#line {
  width: 568px;
  height: 0px;

  margin: 0 auto 27px;

  border: 1px solid #00BFA6;
}

#cadeado {
    position: fixed;
    bottom: 20px;
    left: 20px;
}